<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="manifest.json" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="apple-icon.png"
    />
    
    <title>ReactJS + Spring Data REST</title>
    <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
            rel="stylesheet"
    />
    <link
            href="//fonts.googleapis.com/css?family=Roboto:400,700,300"
            rel="stylesheet"
            type="text/css"
    />
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div id="react"></div>

<script src="built/bundle.js"></script>

</body>
</html>